.venv
.env
venv

main.py
rag_chain.py
retriever_owl.py
settings-me.yaml

.ruff_cache
.pytest_cache
.mypy_cache

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignorar carpetas completas
neo4j/